<div class="container">

  <div class="row justify-content-center">
    <div class="col col-md-4">
      <h1>Demo Wine Quality</h1>
    </div>
  </div>

  <div class="row">

    <form class="section row" #form="ngForm" (ngSubmit)="onSubmit()">

      <div class="col col-md-3">
        <mat-form-field>
          <input matInput placeholder="Fixed Acidity" [(ngModel)]="features.fixed_acidity" name="fixed_acidity">
        </mat-form-field>
        <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="1000" min="1" max="100000"></mat-slider>
      </div>

      <div class="col col-md-3">
        <mat-form-field>
          <input matInput placeholder="Volatile Acidity" [(ngModel)]="features.volatile_acidity" name="volatile_acidity">
        </mat-form-field>
        <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="1000" min="1" max="100000"></mat-slider>
      </div>

      <div class="col col-md-3">
        <mat-form-field>
          <input matInput placeholder="Citric Acid" [(ngModel)] = "features.citric_acid" name="citric_acid">
        </mat-form-field>
        <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="1000" min="1" max="100000"></mat-slider>
      </div>

      <div class="col col-md-3">
        <mat-form-field>
          <input matInput placeholder="Residual Sugar" [(ngModel)]="features.residual_sugar" name="residual_sugar">
        </mat-form-field>
        <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="1000" min="1" max="100000"></mat-slider>
      </div>

      <div class="col col-md-3">
        <mat-form-field>
          <input matInput placeholder="Chlorides" [(ngModel)]="features.chlorides" name="chlorides">
        </mat-form-field>
        <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="1000" min="1" max="100000"></mat-slider>
      </div>

      <div class="col col-md-3">
        <mat-form-field>
          <input matInput placeholder="Free Sulfur Dioxide" [(ngModel)]="features.free_sulfur_dioxide" name="free_sulfur_dioxide">
        </mat-form-field>
        <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="1000" min="1" max="100000"></mat-slider>
      </div>

      <div class="col col-md-3">
        <mat-form-field>
          <input matInput placeholder="Total Sulfur Dioxide" [(ngModel)]="features.total_sulfur_dioxide" name="total_sulfur_dioxide">
        </mat-form-field>
        <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="1000" min="1" max="100000"></mat-slider>
      </div>

      <div class="col col-md-3">
        <mat-form-field>
          <input matInput placeholder="Density" [(ngModel)]="features.density" name="density">
        </mat-form-field>
        <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="1000" min="1" max="100000"></mat-slider>
      </div>

      <div class="col col-md-3">
        <mat-form-field>
          <input matInput placeholder="pH" [(ngModel)]="features.pH" name="pH">
        </mat-form-field>
        <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="1000" min="1" max="100000"></mat-slider>
      </div>

      <div class="col col-md-3">
        <mat-form-field>
          <input matInput placeholder="Sulphates" [(ngModel)]="features.sulphates" name="sulphates">
        </mat-form-field>
        <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="1000" min="1" max="100000"></mat-slider>
      </div>

      <div class="col col-md-3">
        <mat-form-field>
          <input matInput placeholder="Alcohol" [(ngModel)]="features.alcohol" name="alcohol">
        </mat-form-field>
        <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="1000" min="1" max="100000"></mat-slider>
      </div>

      <div class="col-sm-12 col-md-3 offset-sm-0 offset-md-6" *ngIf="!enviando">
        <button class="w-100" type="submit" mat-raised-button color="primary">Enviar</button>
      </div>

    </form>

  </div>

</div>

<router-outlet></router-outlet>